@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto Serif", serif;
    --font-croissant: "Croissant One", serif;

    /* OLDER COLORS */
    /* --color-bgLight: #e2e8f0;
    --color-bgDarkPrimary: #0f172a;
    --color-bgDarkSecondary: #1e293b;
    --color-bgDarkThird: #334155;
    --color-bgDarkBtn: #020617;
    --color-textPrimary: #881337;
    --color-textSecondary: #be123c;
    --color-textThird: #fecdd3; */

    /* NEW COLORS */
    --color-bgLight: #e2e8f0;
    --color-bgDarkPrimary: #0f172a;
    --color-bgDarkSecondary: #1e293b;
    --color-bgDarkThird: #334155;
    --color-bgDarkBtn: #020617;
    --color-textPrimary: #525252;
    --color-textSecondary: #737373;
    --color-textThird: #f8fafc;
}